.sign_up_form {
  max-width: 50%;

  margin: 5%;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid silver;

  background-color: white;
}

.submit_bar {
  display: flex;
  justify-content: center;
}

.form_wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
}

.link_bar {
  display: flex;

  justify-content: center;
}

.form_link {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .sign_up_form {
    max-width: 90%;

    margin: 5%;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid silver;

    background-color: white;
  }
}
