.channel_tile {
  position: relative;
  display: flex;

  width: 300px;
  height: 150px;

  flex-direction: column;

  margin: 10px;
  box-shadow: 0px 0px 12px 0px rgb(221, 161, 221);

  background-image: url('../../../images/tile_background.jpg');

  .channel_name {
    width: 100%;
    text-align: center;
  }

  .channel_image_container {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    img {
      height: 120px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.channel_tile:hover {
  box-shadow: 0px 2px 42px 0px rgb(93, 149, 233);
}

.Mp_tiles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}

.Mp_header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding-top: 50px;
  background: url('../../../images/mp_header_background.jpg');

  .preview_container {
    display: flex;
    flex-direction: row;

    margin:15px auto auto auto;
    max-height: 200px;
    max-width: 1000px;

    .preview_1{
      position: relative;

      height: 150px;
      min-width: 270px;
      overflow: hidden;

      video{
        position: fixed;
        height: 150px;
      }
    }

    .preview_3{
      position: relative;

      height: 150px;
      min-width: 270px;
      overflow: hidden;

      video{
        position: fixed;
        height: 150px;
      }
    }

    .preview_2{
      position: relative;

      height: 150px;
      min-width: 270px;
      overflow: hidden;

      video{
        position: fixed;
        height: 150px;
      }
    }
  }



  .MP_header_text{
    margin: auto;

    background:url('../../../images/header_hero_big.png');
    background-repeat: no-repeat;
    height: 500px;
    width:1000px;

    .head_text{
      padding-left: 250px;
      font-family: 'Merriweather', serif;
      font-size: 40px;
      color:white;
    }

    .join_button{
      min-width:290px;
      margin:30px 0 0 600px;
      padding:7px 35px;
      border: none;

      background: linear-gradient(to bottom, #326be4, #100122);

      color: white;
      font-family: 'Jura', sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-shadow: 5px 3px 2px #373737;
      text-align: center;
      text-transform: uppercase;

    }

    .info_text {
      padding-left: 250px;
      font-family: 'Merriweather', serif;
      font-size: 25px;
      color:white;
    }
  }
}

.Mp_header::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;

  height: 100vh;
  width: 200px;
  background: url('../../../images/edge-triangles.png') no-repeat;
}

.Mp_header::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0;

  height: 100vh;
  width: 200px;

  background: url('../../../images/edge-triangles.png') no-repeat;
  transform: rotate(180deg);
}

.decoration::after {
  content: '';
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(26, 54, 113, 0.6), rgba(26, 54, 113, 0));
  height: 800px;
}

.tile_play_button {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 70px;

  border: none;

  background: url('../../../images/play_button_sprite.png') no-repeat top left;
  background-position: 90px -25px;
}

.tile_play_button:hover {
  background-position: 90px -145px;
}

.tiles_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  min-height: 500px;

  margin: auto;

  padding-top: 100px;
  padding-bottom: 50px;

  .channel_name {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgb(237, 243, 243);
  }
}

.Mp_tiles_footer {
  display: flex;
  /* position: absolute; */
  margin: auto auto 50px auto;
  z-index: 4;

  .load_more_button {
    width: 200px;
    height: 30px;

    border: none;

    color: white;
  }
}
