.channel_tile {
  position: relative;
  display: flex;

  width: 280px;
  height: 280px;

  flex-direction: column;

  margin: 10px;
  box-shadow: 0px 0px 12px 0px rgb(221, 161, 221);

  background-image: url('../../../images/tile_background.jpg');

  .tile_body {
    display: flex;

    .description {
      max-height: 120px;
      overflow: hidden;
    }
  }

  .channel_name {
    width: 100%;

    text-align: center;
  }

  .channel_image_container {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.channel_tile:hover {
  box-shadow: 0px 2px 42px 0px rgb(93, 149, 233);
}

.Mp_tiles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  max-height: 900px;

  &_footer {
    width: 100%;
    height: 100px;
    background: url('../../../images/border.jpg');
    transform: rotate(180deg);
  }

  &_header {
    width: 100%;
    height: 100px;
    background: url('../../../images/border.jpg');
  }
}

.Mp_tiles::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;

  height: 160px;
  width: 100%;

  box-shadow: 0px -6px 9px 0px rgb(189, 102, 189);

  background: linear-gradient(to bottom, rgba(109, 101, 254, 0.6), rgba(127, 43, 187, 0));
}

.Mp_tiles::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;

  height: 160px;
  width: 100%;

  z-index: 1;

  background: linear-gradient(to top, rgba(109, 101, 254, 0.6), rgba(127, 43, 187, 0));
}

.Mp_wrapper {
  background-color: #170528;
}

.Mp_header {
  width: 100%;
  height: 100vh;

  padding-top: 50px;
  background: url('../../../images/mp_header_background.jpg');

  .decoration {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }
}

.Mp_header::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;

  height: 100%;
  width: 200px;
  background: url('../../../images/edge-triangles.png') no-repeat;
}

.Mp_header::before {
  content: '';
  position: absolute;
  top: 50px;
  right: 0;

  height: 100%;
  width: 200px;

  background: url('../../../images/edge-triangles.png') no-repeat;
  transform: rotate(180deg);
}

.decoration::after {
  content: '';
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(26, 54, 113, 0.6), rgba(26, 54, 113, 0));
  height: 190px;
}

.tile_play_button {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 70px;

  border: none;

  background: url('../../../images/play_button_sprite.png') no-repeat top left;
  background-position: 90px -25px;
}

.tile_play_button:hover {
  background-position: 90px -145px;
}

.tiles_container {
  display: flex;

  min-width: 100%;
  height: 500px;

  margin: auto;

  .channel_name {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: rgb(237, 243, 243);
  }
}
