@media screen and (min-width: 1025px) {
  .chat_container {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    width: 400px;

    box-shadow: 3px 3px 12px 1px black;

    .chat {
      display: flex;
      flex: auto;
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;
      overflow-y: scroll;

      &_inner {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column-reverse;

        background: linear-gradient(45deg, rgb(248, 249, 253), rgb(1, 30, 56));
      }
    }

    .chat_message {
      color: white;
      .message_container {
        display: flex;
        flex-direction: row;

        padding: 5px 10px;
        .message {
          max-width: 80%;

          padding: 10px;
          border-radius: 10px;
          background: linear-gradient(45deg, red, blue);

          .UName {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            font-weight: bold;
          }

          .message_text {
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }

    .user_message {
      color: white;

      .message_container {
        display: flex;
        flex-direction: row-reverse;

        padding: 5px 10px;

        .message {
          max-width: 80%;

          padding: 10px;
          border-radius: 10px;
          background: linear-gradient(45deg, rgb(30, 255, 0), rgb(0, 174, 255));

          .UName {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            font-weight: bold;
          }

          .message_text {
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }

    .input_box {
      display: flex;
      flex-direction: row;

      .MInput {
        width: 80%;
        height: 40px;

        padding-left: 20px;

        font-size: 20px;
      }

      .send_button {
        width: 20%;
        height: 40px;

        color: white;

        box-sizing: border-box;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .chat_container {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    flex: 2;

    width: 100%;

    box-shadow: 3px 3px 12px 1px black;

    .chat {
      display: flex;
      flex: auto;
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;
      overflow-y: scroll;

      &_inner {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column-reverse;
        background: linear-gradient(45deg, rgb(29, 88, 177), rgb(112, 62, 131));
      }
    }

    .chat_message {
      color: white;
      .message_container {
        display: flex;
        flex-direction: row;

        padding: 5px 10px;

        .message {
          max-width: 80%;

          padding: 10px;
          border-radius: 10px;
          background: linear-gradient(45deg, red, blue);

          .UName {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            font-weight: bold;
          }

          .message_text {
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }

    .user_message {
      color: white;
      .message_container {
        display: flex;
        flex-direction: row-reverse;

        padding: 5px 10px;

        .message {
          max-width: 80%;

          padding: 10px;
          border-radius: 10px;
          background: linear-gradient(45deg, rgb(30, 255, 0), rgb(0, 174, 255));

          .UName {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            font-weight: bold;
          }

          .message_text {
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }

    .input_box {
      display: flex;
      flex-direction: row;

      .MInput {
        width: 80%;
        height: 40px;

        padding-left: 20px;

        font-size: 20px;
      }

      .send_button {
        width: 20%;
        height: 40px;

        border: none;

        color: white;

        box-sizing: border-box;
      }
    }
  }
}
