.stream_page {
  display: flex;
  background-color: white;
  flex: auto;
}

#player {
  display: flex;
  margin: auto;
}

.stream_page {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
